Chào mừng bạn đã đến với trang web của tôi. Như chúng ta đã biết. Ngày nay vai trò của AI ngày càng trở nên quan trọng đối với cuộc sống. Chúng ta có thể tìm thấy ứng dụng của AI ở khắp mọi nơi như hệ thống nhận diện khuôn mặt, bài toán dịch máy, hệ thống khuyến nghị sản phẩm. AI có thể nói đang là hot trend ở thế kỷ 21 và trong tương lai đây vẫn là một lĩnh vực tiếp tục sẽ bùng nổ. Tại Việt Nam thì xu hướng học tập và nghiên cứu về AI chỉ mới bắt đầu vào những năm 2016 và chúng ta là một cộng đồng còn khá non trẻ. Chính vì thế chúng ta rất thiếu những nguồn tài liệu tốt. Nhiều bạn sinh viên muốn học AI mà không biết nên học như thế nào? Tìm kiếm nguồn tài liệu từ đâu?

Xuất phát từ nhu cầu đó, mình xây dựng website này nhằm mục đích giúp đỡ các bạn học sinh, sinh viên tìm hiểu về AI một cách đơn giản và hệ thống hơn.
Tại đây các bạn có thể tìm kiếm được rất nhiều các bài viết liên quan tới đa dạng các lĩnh vực trong AI như các domain được liệt kê bên dưới:

<h1>Thị giác máy tính</h1>
<br>
Thị giác máy tính (computer vision) là một trong những lĩnh vực rất quan trọng trong AI giúp giải quyết được nhiều bài toán liên quan tới phân loại ảnh, nhận diện vật thể, phân khúc hình ảnh, xác thực khuôn mặt,.... Thị giác máy tính có nhiều tiềm năng ứng dụng trong các ngành công nghiệp như sản xuất ô tô, thiết bị thông minh, robotics,.... Không những thế  trong y sinh nó còn giúp bác sĩ chuẩn đoán vị trí khối u dựa trên mô hình nhận diện khối u. Trong quản lý giao thông chúng ta cũng có thể ứng dụng thị giác máy tính để đếm lưu lượng xe cộ. Thuật toán OCR tự động trích xuất nội dung chữ từ ảnh chụp văn bản,.... và còn rất rất nhiều những ứng dụng tiềm năng khác của thị giác máy tính mà các bạn sẽ được tìm hiểu và thực hành qua loạt bài viết này.

<br>
<br>

<div class="fontsize">
<ol>
    <li>
        <a href="./2019/11/22/HOG.html">Tạo lập đặc trưng HOG</a>
    </li>
    <li>
        <a href="./2019/08/22/convolutional-neural-network.html">Mạng tích chập</a>
    </li>
    <li>
        <a href="./2020/05/31/CNNHistory.html">Lịch sử CNN</a>
    </li>
    <li>
        <a href="./2020/09/19/MobileNet.html">Mô hình MobileNet</a>
    </li>
    <li>
        <a href="./2020/12/19/Resnet.html">Mô hình ResNet</a>
    </li>
    <li>
        <a href="./2019/09/29/OverviewObjectDetection.html">Bài toán object detection</a>
    </li>
    <li>
        <a href="./2019/10/05/SSDModelObjectDetection.html">Mô hình SSD</a>
    </li>
    <li>
        <a href="./2019/12/02/DeepLearningLayer.html">Các layers quan trọng trong deep learning</a>
    </li>
    <li>
        <a href="./2020/01/06/ImagePreprocessing.html">Tiền xử lý ảnh trong opencv</a>
    </li>
    <li>
        <a href="./2020/03/09/DarknetAlgorithm.html">Mô hình YOLO</a>
    </li>
    <li>
        <a href="./2020/03/10/DarknetGoogleColab.html">Huấn luyện mô hình YOLO</a>
    </li>
    <li>
        <a href="./2020/08/23/FocalLoss.html">RetinaNet và Focal Loss</a>
    </li>
    <li>
        <a href="./2020/06/10/ImageSegmention.html">Bài toán Image Segmention</a>
    </li>
    <li>
        <a href="./2020/06/20/Unet.html">Mô hình Unet Image Segmentation</a>
    </li>
    <li>
        <a href="./2020/06/18/DeepLab.html">Mô hình DeepLab trong Image Segmentation</a>
    </li>
    <li>
        <a href="./2020/03/12/faceNetAlgorithm.html">Nhận diện khuôn mặt</a>
    </li>
    <li>
        <a href="./2020/03/21/faceNet.html">Huấn luyện mô hình faceNet</a>
    </li>
    <li>
        <a href="./2020/04/15/TransferLearning.html">Phương pháp transfer learning</a>
    </li>
    <li>
        <a href="./2020/04/22/MultitaskLearning.html">Học đa nhiệm vụ Multi-task learning part1</a>
    </li>
    <li>
        <a href="./2020/05/05/MultitaskLearning_MultiBranch.html">Học đa nhiệm vụ Multi-task learning part2</a>
    </li>
    <li>
        <a href="./2021/03/13/KnownledgeDistillation.html">học chắt lọc knowledge distillation</a>
    </li>
    <li>
        <a href="./2020/03/23/FlaskRestAPI.html">Triển khai mô hình trên flask API</a>
    </li>
    <li>
        <a href="./2020/03/28/deployTensorflowJS.html">Triển khai mô hình trên tensorflowjs</a>
    </li>
    <li>
        <a href="./2020/04/03/AWS.html">Máy ảo AWS</a>
    </li>
    <li>
        <a href="./2020/04/09/TensorflowDataset.html">Kỹ thuật tensorflow dataset</a>
    </li>
    <li>
        <a href="./2020/11/17/DockerDL.html">Docker cho Deep Learning</a>
    </li>
    <li>
        <a href="./2020/11/23/Quantization.html">Kỹ thuật quantization</a>
    </li>
    <li>
        <a href="./2020/11/30/ParallelComputingPython.html">Xử lý đa luồng trong python</a>
    </li>
</ol>
</div>

<h1>Xử lý ngôn ngữ tự nhiên</h1>
<div class="fontsize">
    <ol>
        <li>
            <a href="./2019/04/29/ModelWord2Vec.html">Word2Vec</a>
        </li>
        <li>
            <a href="./2019/04/22/Ly_thuyet_ve_mang_LSTM.html">Mô hình LSTM</a>
        </li>
        <li>
            <a href="./2019/06/18/AttentionLayer.html">Attention và kỹ thuật Transformer</a>
        </li>
        <li>
            <a href="./2020/05/23/BERTModel.html">Mô hình BERT</a>
        </li>
        <li>
            <a href="./2020/05/28/TransformerThemDauTV.html">Ứng dụng kiến trúc Transformer trong thêm dấu Tiếng Việt</a>
        </li>
        <li>
            <a href="./2020/06/04/PhoBERT_Fairseq.html">Thực hành mô hình PhoBERT</a>
        </li>
    </ol>
</div>


<h1>Machine Learning</h1>
<div class="fontsize">
    <ol>
        <li>
            <a href="/2019/05/10/Hypothesis_Statistic.html">Ôn tập về xác suất thống kê</a>
        </li>
        <li>
            <a href="./2019/01/07/Ky_thuat_feature_engineering.html">Kỹ thuật Feature Engineering</a>
        </li>
        <li>
            <a href="./2019/07/15/PySparkSQL.html">Thiết kế machine learning pipeline và Spark SQL</a>
        </li>
        <li>
            <a href="./2019/09/08/LDATopicModel.html">LDA và bài toán xác định topic văn bản</a>
        </li>
        <li>
            <a href="./2019/09/16/VisualizationPython.html">Biểu đồ trên matplotlib</a>
        </li>
        <li>
            <a href="./2019/10/22/googleHeatmap.html">Các vẽ biểu đồ  map</a>
        </li>
        <li>
            <a href="./2019/11/08/RFMModel.html">Mô hình phân khúc khách hàng</a>
        </li>
        <li>
            <a href="./2019/12/12/ARIMAmodel.html">Mô hình chuỗi thời gian ARIMA</a>
        </li>
        <li>
            <a href="./2020/01/17/ScoreCard.html">Mô hình scorecard</a>
        </li>
        <li>
            <a href="./2020/02/17/ImbalancedData.html">Hiện tượng mất cân bằng dữ liệu</a>
        </li>
    </ol>
</div>


<h1>Hệ thống khuyến nghị sản phẩm</h1>
<div class="fontsize">
    <ol>
        <li>
            <a href="./2019/11/04/Recommendation_Compound_Part1.html">collaborative và content-based filtering</a>
        </li>
        <li>
            <a href="./2019/12/26/Sorfmax_Recommendation_Neural_Network.html">softmax network trong khuyến nghị sản phẩm</a>
        </li>
        <li>
            <a href="./2020/02/11/NARSyscom2015.html">Bài toán khuyễn nghị theo session</a>
        </li>
        <li>
            <a href="./2019/09/08/LDATopicModel.html">LDA và bài toán xác định topic văn bản</a>
        </li>
        <li>
            <a href="./2019/09/16/VisualizationPython.html">Biểu đồ trên matplotlib</a>
        </li>
        <li>
            <a href="./2019/10/22/googleHeatmap.html">Các vẽ biểu đồ  map</a>
        </li>
        <li>
            <a href="./2020/08/13/ModelMetric.html">Đánh giá mô hình phân loại trong machine learning</a>
        </li>
    </ol>
</div>


<h1>Series về GAN</h1>
<div class="fontsize">
    <ol>
        <li>
            <a href="./2020/07/13/GAN.html">Mô hình GAN</a>
        </li>
        <li>
            <a href="./2020/08/09/ConditionalGAN.html">Mô hình cGAN</a>
        </li>
        <li>
            <a href="./2020/07/25/GAN_Wasserstein.html">Wasserstein GAN</a>
        </li>
        <li>
            <a href="./2020/11/13/pix2pixGAN.html">Pix2Pix GAN</a>
        </li>
        <li>
            <a href="./2021/01/20/CycleGAN.html">mô hình cycleGAN</a>
        </li>
        <li>
            <a href="./2021/02/01/StarGAN.html">mô hình starGAN</a>
        </li>
    </ol>
</div>


<h1>Hướng dẫn pytorch</h1>
<div class="fontsize">
    <ol>
        <li>
            <a href="./2019/08/10/PytorchTurtorial1.html">Tensor và toán tử trên pytorch</a>
        </li>
        <li>
            <a href="./2019/08/19/CorrectSpellingVietnamseTonePrediction.html">Huấn luyện mô hình sửa lỗi chính tả</a>
        </li>
        
        <li>
            <a href="./2019/08/25/PyTorch_Torchtext_Tutorial.html">Module torchtext trong NLP</a>
        </li>
    </ol>
</div>