.current {
    color: red;
}

@media (min-width: 768px) {
    .navbar-header {
        float: none;
    }
}

img {
    max-width: 100%;
}

img.gigantic {
    display: block;
    max-width: 800px;
    max-height: 800px;
    margin-left: auto;
    margin-right: auto;
    width: auto;
    height: auto;
}

img.largepic {
    display: block;
    max-width: 700px;
    max-height: 700px;
    margin-left: auto;
    margin-right: auto;
    width: auto;
    height: auto;
}

img.large {
    display: block;
    max-width: 700px;
    max-height: 700px;
    margin-left: auto;
    margin-right: auto;
    width: auto;
    height: auto;
}


img.normalpic {
    display: block;
    max-width: 500px;
    max-height: 500px;
    margin-left: auto;
    margin-right: auto;
    width: auto;
    height: auto;
}


img.normal {
    display: block;
    max-width: 500px;
    max-height: 500px;
    margin-left: auto;
    margin-right: auto;
    width: auto;
    height: auto;
}

img.medianpic {
    display: block;
    max-width: 400px;
    max-height: 400px;
    margin-left: auto;
    margin-right: auto;
    width: auto;
    height: auto;
}

img.median {
    display: block;
    max-width: 400px;
    max-height: 400px;
    margin-left: auto;
    margin-right: auto;
    width: auto;
    height: auto;
}

img.smallpic {
    display: block;
    max-width: 300px;
    max-height: 300px;
    margin-left: auto;
    margin-right: auto;
    width: auto;
    height: auto;
}

img.small {
    display: block;
    max-width: 300px;
    max-height: 300px;
    margin-left: auto;
    margin-right: auto;
    width: auto;
    height: auto;
}

img.tinypic {
    display: block;
    max-width: 200px;
    max-height: 200px;
    margin-left: auto;
    margin-right: auto;
    width: auto;
    height: auto;
}

img.tiny {
    display: block;
    max-width: 200px;
    max-height: 200px;
    margin-left: auto;
    margin-right: auto;
    width: auto;
    height: auto;
}

/*body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
}*/

#myBtn {
    display: block;
    position: fixed;
    bottom: 20px;
    right: 10%;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    background-color: blue;
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 4px;
}

#myBtn:hover {
    background-color: #555;
}

pre, code, table, .highlight {
    background: transparent !important;
}

pre {
    margin: 0;
    background: 0;
    border: none;
    color: #000;
}

pre > code {
    white-space: pre;
    margin-top: -1.00em;
    display: block;
}

div.highlighter-rouge {
    // border: 1px solid #afafaf;
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding: 1rem 0 0 0;
    background-color: #FFFFFF;
    background-image: url("/assets/images/code-bg.png");
    background-size: auto 3.60rem;
    background-repeat: repeat-y;
    background-position: 0 10px;
}

pre.background {
    padding: 0;
    margin: 0;
}

.rouge-code {
    padding-left: 1.5rem!important;
}
  
div.fontsize {
    font-size: 15px;
  }  