/*code.less override boostrap*/
pre, pre code {
  padding: 0 3px 2px;
  #font > #family > .monospace;
  background-color: black;
  color:  white;
  font-size: @baseFontSize - 1;
  .border-radius(3px);
  border: transparent;
  padding-right: 15px;
}

/*********************************************/
img.gigantic {
  display: block;
  max-width:800px;
  max-height:800px;
  margin-left: auto;
  margin-right: auto;
  width: auto;
  height: auto;
}

img.largepic {
  display: block;
  max-width:700px;
  max-height:700px;
  margin-left: auto;
  margin-right: auto;
  width: auto;
  height: auto;
}

img.large {
  display: block;
  max-width:700px;
  max-height:700px;
  margin-left: auto;
  margin-right: auto;
  width: auto;
  height: auto;
}


img.normalpic {
  display: block;
  max-width:500px;
  max-height:500px;
  margin-left: auto;
  margin-right: auto;
  width: auto;
  height: auto;
}


img.normal {
  display: block;
  max-width:500px;
  max-height:500px;
  margin-left: auto;
  margin-right: auto;
  width: auto;
  height: auto;
}

img.medianpic {
  display: block;
  max-width:400px;
  max-height:400px;
  margin-left: auto;
  margin-right: auto;
  width: auto;
  height: auto;
}

img.median {
  display: block;
  max-width:400px;
  max-height:400px;
  margin-left: auto;
  margin-right: auto;
  width: auto;
  height: auto;
}

img.smallpic {
  display: block;
  max-width:300px;
  max-height:300px;
  margin-left: auto;
  margin-right: auto;
  width: auto;
  height: auto;
}

img.small {
  display: block;
  max-width:300px;
  max-height:300px;
  margin-left: auto;
  margin-right: auto;
  width: auto;
  height: auto;
}

img.tinypic {
  display: block;
  max-width:200px;
  max-height:200px;
  margin-left: auto;
  margin-right: auto;
  width: auto;
  height: auto;
}

img.tiny {
  display: block;
  max-width:200px;
  max-height:200px;
  margin-left: auto;
  margin-right: auto;
  width: auto;
  height: auto;
}

/*body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
}*/

#myBtn {
  display: block;
  position: fixed;
  bottom: 20px;
  right: 10%;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: blue;
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 4px;
}

#myBtn:hover {
  background-color: #555;
}